#selector-container {
    position: fixed;
    right: 0;
    margin: 10px;
}

.selector {
    display: block;
    color: inherit;
    text-decoration: none;
    font-size: 16px;
}

.selector:focus {
    background: rgb(237, 237, 237);
    color: rgb(120, 120, 120);
}

.content {
    display: none;
}

:target {
    display: block;
}

:target ~ #no-language {
    display: none;
}

#no-language {
    text-align: center;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px;
    left: 25%;
}

.header {
    animation-name: typewriter;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
}

#en > .header {
    width: 6ch;
    animation-timing-function: steps(6, end);
    animation-duration: 750ms;
}

#la > .header {
    width: 3ch;
    animation-timing-function: steps(3, end);
    animation-duration: 375ms;
}