@font-face {
    font-family: 'Cutive Mono';
    src: url('/CutiveMono-Regular.ttf');
}

body {
    background: rgb(26, 26, 26);
    color: rgb(237, 237, 237);
    font-family: 'Cutive Mono', 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.content {
    margin: auto;
    width: max(500px, 65%);
    max-width: min(750px, 80%);
    overflow: scroll;
    padding: 10px;
}

.content > *:not(.header) {
    animation-name: fade;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

#nav-button-container {
    position: fixed;
    top: 0;
    left: 0;
    margin: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: rgba(26, 26, 26, 0.75);
}

.nav-button {
    color: inherit;
    text-decoration: none;
    font-size: 1.2em;
    margin: 2px;
    width: 100%;
    text-align: center;
}

.nav-button:focus {
    background: rgb(237, 237, 237);
    color: rgb(120, 120, 120);
}

.header {
    text-align: center;

    animation-name: header;
    animation-duration: 1s;
    position: relative;
}

a {
    color: lightgray;
}

a:focus {
    background: rgb(237, 237, 237);
    color: rgb(120, 120, 120);
}

::-moz-selection, ::selection {
    background: rgb(237, 237, 237);
    color: rgb(87, 87, 87);
}

a::-moz-selection, a::selection {
    color: rgb(120, 120, 120);
}

.ipa {
    font-family: monospace;
    font-weight: normal;
}

.nobreak {
    display: inline-block;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes header {
    from {
        top: 30px;
        opacity: 0.15;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

@keyframes typewriter {
    from {
        width: 0;
    }
}

/* for testing purposes */
/* * { border: 1px solid white; } */